body {
  font-family: "Nova Mono", monospace;
  color: #333333;
  margin-top: 20px;
}

input {
  background-color: transparent;
  width: 60%;
  border-radius: 20px;
  border: 1px solid #92a8d0;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}
h2 {
  text-align: center;
}

h6 {
  text-align: center;
  margin-bottom: 10px;
}
button {
  background-color: transparent;
  border: 1px solid #92a8d0;
  border-radius: 10px;
}
button:hover {
  background-color: #f7dddc;
  color: #92a8d0;
  transition: ease-in-out 200ms;
}
ul {
  list-style: none;
}
h3 {
  text-align: left;
  margin-top: 15px;
  margin-left: 10px;
  font-size: 45px;
}

#description {
  font-size: 12px;
  margin-left: 10px;
  text-transform: capitalize;
}

#current {
  margin: 10px;
}
#current-date {
  text-align: left;
  margin-left: 10px;
}

#github {
  text-align: center;
  margin: 20px;
  font-size: 13px;
}

#specifics {
  position: relative;
  top: 25px;
  text-align: left;
  color: #333333;
  list-style: none;
  font-size: 11px;
}

#degrees {
  position: relative;
  top: -40px;
  color: #333333;
  font-size: 15px;
}
#celsius,
#fahrenheit {
  color: #f5a4d2;
}

#fahrenheit:hover {
  color: #b283fe;
  text-decoration: none;
}
#celsius:hover {
  color: #b283fe;
  text-decoration: none;
}

.temp {
  font-size: 70px;
  text-align: center;
}

.container {
  border: 1px solid #92a8d0;
  border-radius: 5px;
  max-width: 600px;
  box-shadow: 5px 5px 5px #f7dddc;
  border-width: ;
}

.next {
  border-top: 1px solid #f7d8d7;
  margin-bottom: 20px;
}
.weather-today {
  text-align: center;
  font-size: 60px;
}

.weatherImg {
  margin-left: 21px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.nextTemp {
  margin-left: 11px;
  font-size: 13px;
}

.link {
  color: #f5a4d2;
}
.link:hover {
  color: #92a8d0;
  text-decoration: none;
}
