body {
  font-family: "Nova Mono", monospace;
  color: #333333;
  margin-top: 20px;
}

form {
  text-align: center;
}
input {
  background-color: transparent;
  width: 80%;
  border-radius: 20px;
  border: 1px solid #92a8d0;
  margin-top: 20px;
  margin-bottom: 20px;
}
h2 {
  text-align: center;
}

h3 {
  text-align: center;
  margin-top: 15px;
}
h6 {
  text-align: center;
  margin-bottom: 10px;
}
button {
  background-color: transparent;
  border: 1px solid #92a8d0;
  border-radius: 10px;
}
button:hover {
  background-color: #92a8d0;
  color: #f7dddc;
  transition: ease-in-out 200ms;
}

.container {
  background: linear-gradient(
    179.1deg,
    rgb(247, 238, 238) -1.9%,
    rgb(247, 202, 201) 44.9%,
    rgb(145, 168, 208) 96.1%
  );
  border: 1px solid #92a8d0;
  border-radius: 5px;
  max-width: max-content;
  box-shadow: 5px 5px 5px #b3b3cd;
}
.seperate {
  width: 20%;
}
.next {
  border-top: 1px solid #f7d8d7;
  margin-bottom: 20px;
}
.weather-today {
  text-align: center;
  font-size: 60px;
}
.currentTemp {
  text-align: center;
  list-style: none;
  padding: 0;
}
