body {
  font-family: "Nova Mono", monospace;
  color: #333333;
  margin-top: 50px;
}

input {
  background-color: whitesmoke;
  width: 70%;
  border-radius: 20px;
  border: 1px solid #a2ac77;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}

h6 {
  text-align: center;
  margin-bottom: 10px;
}
button {
  background-color: transparent;
  border: 1px solid #a2ac77;
  border-radius: 10px;
}
button:hover {
  background-color: #a2ac77;
  color: whitesmoke;
  transition: ease-in-out 200ms;
}

ul {
  list-style: none;
}
h3 {
  text-align: left;
  margin-top: 15px;
  margin-left: 10px;
  font-size: 45px;
  border: 1px solid #dfc1cc;
  border-radius: 50% / 100% 100% 20% 0;
  background-color: #dfc1cc;
}

#description {
  font-size: 12px;
  margin-left: 10px;
  text-transform: capitalize;
  color: #e84a5f;
}

#current {
  margin: 10px;
}
#current-date {
  text-align: left;
  margin-left: 10px;
}

#github {
  text-align: center;
  margin: 20px;
  font-size: 13px;
}

#specifics {
  position: relative;
  top: 25px;
  left: 30px;
  text-align: left;
  color: #e84a5f;
  list-style: none;
  font-size: 12px;
}

#degrees {
  position: relative;
  top: -40px;
  color: #333333;
  font-size: 15px;
}
#celsius,
#fahrenheit {
  color: #ff847c;
}

#fahrenheit:hover {
  color: #e84a5f;
  text-decoration: none;
  cursor: default;
}
#celsius:hover {
  color: #e84a5f;
  text-decoration: none;
  cursor: default;
}

#icon {
  display: block;
  margin: 0 auto;
  width: 200px;
  border: 1px solid #1b3f66;
  border-radius: 50%;
  background-color: #1b3f66;
}

.temp {
  font-size: 70px;
  margin-left: 10px;
}

.container {
  border: 3px solid #45171d;
  border-radius: 10px 20px 30px 40px/30px;
  max-width: 600px;
  box-shadow: 60px -16px #e6584f;
  background-color: #f4f3ed;
}

.next {
  border-top: 1px solid #45171d;
  margin-bottom: 20px;
  opacity: 0.4;
}

.link {
  color: #ff847c;
}
.link:hover {
  color: #e84a5f;
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  margin-left: 70px;
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid #f2db8d;
  border-radius: 30% 70% 70% 20% / 20%;
  background-color: #f2db8d;
}

.weather-forecast-date {
  color: #45171d;
  font-size: 16px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
